<div nav-top></div>

<div class="admin">

    <div class="left-menu" admin-menu></div>


    <div class="content container">
        <alert ng-repeat="alert in $root.alerts" type="{{alert.type}}" close="$root.closeAlert($index)">{{alert.msg}}</alert>
    </div>

    <div class="content container" ui-view="content"></div>
</div>