@charset "UTF-8";

body{
  a{
    outline: none;
  }

  h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 10px;
  }

  .nav-pills > li.active > a,
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    background-color: #ffffff;
    color : $link-color;
  }

  .nav-pills > li a:hover{
    background-color: #ffffff;

  }
}

