@charset "UTF-8";

body{
  a{
    cursor: pointer;
    outline: none;
  }
//  Check browser support
  .browsehappy{
    background-color: $color-browser-happy;
    padding: 5px;
    margin-bottom: 0;
  }
}