$color-dark   : #000000;

// Color notice browser not support
$color-browser-happy  : lighten(#f5e79e,10);

$border-color : lighten($color-dark,30%);
$link-color   : lighten($color-dark,30%);


// Admin border color
$admin-border-color : lighten($color-dark,90%);
