<div class="col-xs-8 col-xs-push-2" ng-show="!$root.isLogin()">
    <h3>{{'Login' | translate}}</h3>
    <form name="userLoginForm" ng-submit="loginForm(userLoginForm.$valid)" novalidate>
        <div class="col-xs-4 text-right">
            {{'Email' | translate}} :
        </div>
        <div class="col-xs-8">
            <input type="email" name="email" ng-model="email"  ng-required/>

            <div class="error" ng-show="userLoginForm.email.$dirty && userLoginForm.email.$invalid">
                <small class="error" ng-show="userLoginForm.email.$error.required">
                    {{'Email not null' | translate }}
                </small>
                <small class="error" ng-show="userLoginForm.email.$error.email">
                    {{ 'Email is invalid' | translate }}
                </small>
            </div>

        </div>

        <div class="col-xs-4 text-right">
            {{'Password' | translate }} :
        </div>

        <div class="col-xs-8">
            <input type="password" name="password" ng-model="password" ng-minlength=6 ng-maxlength=32  ng-required/>
            <div class="error" ng-show="userLoginForm.password.$dirty && userLoginForm.password.$invalid">
                <small class="error" ng-show="userLoginForm.password.$error.required">
                    {{'Password is blank' | translate}}
                </small>
                <small class="error" ng-show="userLoginForm.password.$error.minlength">
                    {{'Password is greater than or equal to 6 characters' | translate}}
                </small>
                <small class="error" ng-show="userLoginForm.password.$error.maxlength">
                    {{'Maximum password must not exceed 32 characters' | translate}}
                </small>
            </div>
        </div>

        <div class="col-xs-8 col-xs-push-4">
            <button type="submit" class="btn btn-default">{{ 'Login' | translate }}</button>
        </div>
    </form>

</div>
