<div class="col-xs-8 col-xs-push-2" ng-show="!$root.isLogin()">
    <h3>{{'Register' | translate }}</h3>
    <form name="userRegisterForm" ng-submit="registerForm(userRegisterForm.$valid)"  novalidate>
        <div class="col-xs-4 text-right">
            {{'Email' | translate }} :
        </div>
        <div class="col-xs-8">
            <input type="email" name="email" ng-model="email"  ng-required email-unique />
            <div class="error" ng-show="userRegisterForm.email.$dirty && userRegisterForm.email.$invalid">

                <small class="error" ng-show="userRegisterForm.email.$error.required">
                    {{'Email is blank' | translate}}
                </small>
                <small class="error" ng-show="userRegisterForm.email.$error.email">
                    {{'Invalid email format' | translate}}
                </small>
                <small class="error" ng-show="userRegisterForm.email.$error.unique">
                    {{'Has anyone used this email' | translate}}
                </small>
            </div>
        </div>

        <div class="col-xs-4 text-right">
            {{'Username' | translate }} :
        </div>
        <div class="col-xs-8">
            <input type="text" name="username" ng-model="username" ng-minlength=6 ng-maxlength=32 ng-required="" username-unique="" ng-pattern="/^[A-Za-z0-9]+$/i" />


            <div class="error" ng-show="userRegisterForm.username.$dirty && userRegisterForm.username.$invalid">
                <small class="error" ng-show="userRegisterForm.username.$error.pattern">
                    {{'Username is not valid (Only A-Z, 0-9, -, _)' | translate}}
                </small>

                <small class="error" ng-show="userRegisterForm.username.$error.required">
                    {{'Username is blank' | translate }}
                </small>
                <small class="error" ng-show="userRegisterForm.username.$error.minlength">
                    {{'Username is greater than or equal to 6 characters' | translate}}
                </small>
                <small class="error" ng-show="userRegisterForm.username.$error.maxlength">
                    {{'Maximum username must not exceed 32 characters' | translate}}
                </small>

                <small class="error" ng-show="userRegisterForm.username.$error.unique">
                    {{'Has anyone used this username' | translate}}
                </small>

            </div>
        </div>


        <div class="col-xs-4 text-right">
            {{'Password' | translate }} :
        </div>
        <div class="col-xs-8">
            <input type="password" name="password" ng-model="password"  ng-minlength="6" ng-maxlength="32" ng-required="" />
            <div class="error" ng-show="userRegisterForm.password.$dirty && userRegisterForm.password.$invalid">
                <small class="error" ng-show="userRegisterForm.password.$error.required">
                    {{'Password is blank' | translate }}
                </small>
                <small class="error" ng-show="userRegisterForm.password.$error.minlength">
                    {{'Password is greater than or equal to 6 characters' | translate}}
                </small>
                <small class="error" ng-show="userRegisterForm.password.$error.maxlength">
                    {{'Maximum password must not exceed 32 characters' | translate}}
                </small>
            </div>
        </div>


        <div class="col-xs-4 text-right">
            {{'Confirm' | translate }} :
        </div>
        <div class="col-xs-8">
            <input type="password" name="rePassword" ng-model="rePassword" ng-required="" ng-minlength="6" ng-maxlength="32"  equals="{{password}}" />

            <div class="error" ng-show="userRegisterForm.rePassword.$dirty && userRegisterForm.rePassword.$invalid">
                <small class="error" ng-show="userRegisterForm.rePassword.$error.required">
                    {{'Password is blank' | translate }}
                </small>

                <small class="error" ng-show="userRegisterForm.rePassword.$error.minlength">
                    {{'Password is greater than or equal to 6 characters' | translate}}
                </small>

                <small class="error" ng-show="userRegisterForm.rePassword.$error.maxlength">
                    {{'Maximum password must not exceed 32 characters' | translate}}
                </small>

                <small class="error" ng-show="userRegisterForm.rePassword.$error.equals">
                    {{'Password not match' | translate}}
                </small>
            </div>
        </div>

        <div class="col-xs-8 col-xs-push-4">
            <button type="submit" class="btn btn-default">{{ 'Register' | translate}}</button>
        </div>
    </form>

</div>
