<div ng-show="$root.isLogin()" class="account">
    <div class="col-xs-3">
        <ul class="nav nav-pills nav-stacked menu">
            <li ng-class="{'active' : isActive('home') }"><a href="/account">{{'Account - Page' | translate }}</a></li>
            <li ng-class="{'active' : isActive('favorites') }"><a href="/account/favorites">{{'Favorites - Page' | translate}}</a></li>
            <li ng-class="{'active' : isActive('history') }"><a href="/account/history">{{'History - Page' | translate}}</a></li>
            <li ng-class="{'active' : isActive('message') }"><a href="/account/message">{{'Message - Page' | translate}}</a></li>
            <li ng-class="{'active' : isActive('password') }"><a href="/account/password">{{'Password - Page' | translate}}</a></li>
        </ul>
    </div>
    <div class="col-xs-9">
        <div ng-show="isActive('home')">
            <div class="head-title">
                <h3>{{'Account information' | translate}}</h3>
            </div>

            <form name="contact" ng-submit="saveContact(contact.$valid)"  novalidate>

                <div class="col-xs-3 text-right">{{'Email:' | translate }}</div>
                <div class="col-xs-9"><strong>{{data.email}}</strong></div>
                <div class="clearfix"></div>

                <div class="col-xs-3 text-right">{{'Username:' | translate }}</div>
                <div class="col-xs-9"><strong>{{data.username}}</strong></div>
                <div class="clearfix"></div>

                <div class="col-xs-3 text-right">{{'Name:' | translate }}</div>
                <div class="col-xs-9">
                    <input type="text" ng-model="data.name.before">
                    <input type="text" ng-model="data.name.name">
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-3 text-right">{{'Last name:' | translate }}</div>
                <div class="col-xs-9">
                    <input type="text" ng-model="data.name.last_name">
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-3 text-right">{{'Address:' | translate }}</div>
                <div class="col-xs-9">
                    <textarea ng-model="data.contact.address"></textarea>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-3 text-right">{{'Province:' | translate }}</div>
                <div class="col-xs-9">
                    <input type="text" ng-model="data.contact.province" />
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-3 text-right">{{'Postcode:' | translate }}</div>
                <div class="col-xs-9">
                    <input type="text" name="postcode" ng-model="data.contact.postcode" ng-pattern="/^\d{5}$/i" />
                    <div class="error" ng-show="contact.postcode.$dirty && contact.postcode.$invalid">
                        <small class="error" ng-show="contact.postcode.$error.pattern">
                            {{'Postcode is invalid' | translate}}
                        </small>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-3 text-right">{{'Telephone:' | translate }}</div>
                <div class="col-xs-9">
                    <input type="text" ng-model="data.contact.telephone" />
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-9 col-xs-push-3"><button type="submit" class="btn btn-default">{{'Submit' | translate }}</button></div>
            </form>

        </div>

        <div ng-show="isActive('favorites')">
            <div class="head-title">
                <h3>{{'Favorites' | translate}}</h3>
            </div>
        </div>

        <div ng-show="isActive('history')">
            <div class="head-title">
                <h3>{{'History' | translate}}</h3>
            </div>
        </div>

        <div ng-show="isActive('message')">
            <div class="head-title">
                <h3>{{'Message' | translate}}</h3>
            </div>
        </div>

        <div ng-show="isActive('password')">
            <div class="head-title">
                <h3>{{'Password' | translate}}</h3>
            </div>

            <form name="password" ng-submit="savePassword(password.$valid)"  novalidate>

                <div class="col-xs-3 text-right">{{'Old password:' | translate }}</div>
                <div class="col-xs-9">
                    <input type="password" name="oldPassword" ng-model="oldPassword" ng-minlength=6 ng-maxlength=32  required/>
                    <div class="error" ng-show="password.oldPassword.$dirty && password.oldPassword.$invalid">
                        <small class="error" ng-show="password.oldPassword.$error.required">
                            {{'Password is blank' | translate}}
                        </small>
                        <small class="error" ng-show="password.oldPassword.$error.minlength">
                            {{'Password is greater than or equal to 6 characters' | translate}}
                        </small>
                        <small class="error" ng-show="password.oldPassword.$error.maxlength">
                            {{'Maximum password must not exceed 32 characters' | translate}}
                        </small>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-3 text-right">{{'New password:' | translate }}</div>
                <div class="col-xs-9">
                    <input type="password" name="newPassword" ng-model="newPassword" ng-minlength=6 ng-maxlength=32  required/>
                    <div class="error" ng-show="password.newPassword.$dirty && password.newPassword.$invalid">
                        <small class="error" ng-show="password.newPassword.$error.required">
                            {{'Password is blank' | translate}}
                        </small>
                        <small class="error" ng-show="password.newPassword.$error.minlength">
                            {{'Password is greater than or equal to 6 characters' | translate}}
                        </small>
                        <small class="error" ng-show="password.newPassword.$error.maxlength">
                            {{'Maximum password must not exceed 32 characters' | translate}}
                        </small>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-3 text-right">{{'Confirm password:' | translate }}</div>
                <div class="col-xs-9">
                    <input type="password" name="confirmPassword" ng-model="confirmPassword" ng-minlength=6 ng-maxlength=32  required equals="{{newPassword}}"/>
                    <div class="error" ng-show="password.confirmPassword.$dirty && password.confirmPassword.$invalid">
                        <small class="error" ng-show="password.confirmPassword.$error.required">
                            {{'Password is blank' | translate}}
                        </small>
                        <small class="error" ng-show="password.confirmPassword.$error.minlength">
                            {{'Password is greater than or equal to 6 characters' | translate}}
                        </small>
                        <small class="error" ng-show="password.confirmPassword.$error.maxlength">
                            {{'Maximum password must not exceed 32 characters' | translate}}
                        </small>
                        <small class="error" ng-show="password.confirmPassword.$error.equals">
                            {{'Password not match' | translate}}
                        </small>
                    </div>
                </div>
                <div class="clearfix"></div>


                <div class="col-xs-9 col-xs-push-3"><button type="submit" class="btn btn-default">{{'Submit' | translate }}</button></div>
            </form>
        </div>
    </div>
</div>