<div nav-top></div>
<div class="container">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="$parent.closeAlert($index)">{{alert.msg}}</alert>

    <div ui-view="edit"></div>
</div>

<div class="clearfix"></div>
<div footer></div>
