<!--
    module  : account
    page    : register
-->

<div nav-top></div>

<div class="container account-register">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="$root.closeAlert($index)">{{alert.msg}}</alert>

    <div>
        <div class="col-xs-12 col-lg-6 col-lg-push-6">
            <div login-form></div>
        </div>

        <div class="col-xs-12 col-lg-6 col-lg-pull-6">
            <div register-form></div>
        </div>

    </div>
</div>

<div class="clearfix"></div>
<div footer></div>