<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" ng-controller="MainCtrl" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" ng-controller="MainCtrl" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" ng-controller="MainCtrl" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" ng-controller="MainCtrl" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language"  content="th">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="{{$root.pageDescription}}"/>
    <meta name="keywords" content="{{$root.pageKeyword}}"/>
    <meta name="fragment" content="!"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style.css?v=<%= config.version %>"/>
    <link rel="stylesheet" href="/bower_components/animate.css/animate.min.css"/>
    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/bower_components/redactor/redactor/redactor.css"/>
    <base href="/">
    <title ng-bind="$root.pageTitle"></title>
</head>
<body>
<!--[if lt IE 10]>
<div class="browsehappy">
    <div class="container">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
</div>
<![endif]-->

<div ui-view></div>


<config token="<%= config.token %>" base-api="<%= config.baseApi %>" version="<%= config.version %>"></config>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/bower_components/angular-resource/angular-resource.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-translate/angular-translate.js"></script>
<script src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

<script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/bower_components/underscore/underscore.js"></script>
<script src="/bower_components/validator-js/validator.min.js"></script>
<script src="/bower_components/xDomain/dist/0.6/xdomain.min.js" slave="<%= config.xDomain %>"></script>
<script src="/bower_components/async/lib/async.js"></script>
<script src="/bower_components/redactor/redactor/redactor.js"></script>
<script src="/bower_components/angular-redactor-patched/angular-redactor.js"></script>
<script src="<%= config.socketUrl %>"></script>
<script src="/js/templates.js?v=<%= config.version %>"></script>
<script src="/js/index.js?v=<%= config.version %>"></script>


</body>
</html>