@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/my\/price\/public\/css\/scss\/_bootstrap\.scss}line{font-family:\000034}}
body a {
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/my\/price\/public\/css\/scss\/_bootstrap\.scss}line{font-family:\000038}}
body h1, body h2, body h3, body h4, body h5, body h6 {
  margin-top: 0;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/my\/price\/public\/css\/scss\/_bootstrap\.scss}line{font-family:\0000313}}
body .nav-pills > li.active > a,
body .nav-pills > li.active > a:hover,
body .nav-pills > li.active > a:focus {
  background-color: #ffffff;
  color: #4d4d4d;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/my\/price\/public\/css\/scss\/_bootstrap\.scss}line{font-family:\0000320}}
body .nav-pills > li a:hover {
  background-color: #ffffff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/my\/price\/public\/css\/scss\/_normal\.scss}line{font-family:\000034}}
body a {
  cursor: pointer;
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/my\/price\/public\/css\/scss\/_normal\.scss}line{font-family:\000039}}
body .browsehappy {
  background-color: #faf2cc;
  padding: 5px;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/my\/price\/public\/modules\/account\/scss\/_account\.scss}line{font-family:\000036}}
.account div[class^=col-xs-] {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/my\/price\/public\/modules\/account\/scss\/_account\.scss}line{font-family:\000039}}
.account .head-title {
  border-bottom: 1px solid #4d4d4d;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/my\/price\/public\/modules\/account\/scss\/_account\.scss}line{font-family:\0000316}}
.account .menu li.active {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/my\/price\/public\/modules\/account\/scss\/_account-register\.scss}line{font-family:\000035}}
.account-register div[class^=col-xs-] {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/my\/price\/public\/modules\/account\/scss\/_account-register\.scss}line{font-family:\0000310}}
.account-register form input[type=text], .account-register form input[type=password], .account-register form input[type=email] {
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/my\/price\/public\/modules\/account\/scss\/_account-register\.scss}line{font-family:\0000314}}
.account-register form button.btn {
  width: 150px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/my\/price\/public\/modules\/admin\/scss\/_home\.scss}line{font-family:\000034}}
.admin .left-menu {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/my\/price\/public\/modules\/admin\/scss\/_home\.scss}line{font-family:\0000310}}
.admin .left-menu ul.nav {
  padding-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/my\/price\/public\/modules\/admin\/scss\/_home\.scss}line{font-family:\0000313}}
.admin .left-menu ul.nav li a {
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/my\/price\/public\/modules\/admin\/scss\/_category\.scss}line{font-family:\000034}}
.admin-categories-module .create-link {
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/my\/price\/public\/modules\/admin\/scss\/_category\.scss}line{font-family:\000037}}
.admin-categories-module .list {
  border-bottom: 1px solid #e6e6e6;
  line-height: 35px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/my\/price\/public\/modules\/admin\/scss\/_category\.scss}line{font-family:\0000311}}
.admin-categories-module .list .link a {
  margin-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/Z\:\/my\/price\/public\/modules\/admin\/scss\/_category\.scss}line{font-family:\0000318}}
.admin-categories-module .form-body div[class^=col-] {
  margin-bottom: 10px;
}
