@charset "UTF-8";

.admin-categories-module{
  .create-link{
    margin-bottom: 20px;
  }
  .list{
    border-bottom: 1px solid $admin-border-color;
    line-height: 35px;
    .link{
      a{
        margin-right: 20px;
      }
    }
  } //.list

  .form-body{
    div[class^=col-]{
      margin-bottom: 10px;
    }
  }
}