@charset "UTF-8";

.admin{
  .left-menu{
    width: 200px;
    height: 100%;
    position: fixed;
    top:50px;
    ul{
      &.nav{
        padding-left: 10px;
        li{
          a{
            padding:0;
          }
        }
      }
    }
  }// end .left-menu

  .content{

  }
}