<ul class="nav nav-pills nav-stacked">
    <li ng-class="{'active' : isActive('/admin')}"><a href="/admin">{{'Home - Admin' | translate}}</a></li>
    <li ng-class="{'active' : isActive('/admin/user')}"><a href="/admin/user">{{'User - Admin' | translate}}</a></li>
    <li ng-class="{'active' : isActive('/admin/categories')}"><a href="/admin/categories">{{'Categories - Admin' | translate}}</a></li>
</ul>