<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Snakeza</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/board">{{'Web board' | translate}}</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">{{'Categories' | translate}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="item in list">
                            <a href="{{item.url}}">{{item.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{{'Search' | translate }}">
                </div>
                <button type="submit" class="btn btn-default">{{'Search submit' | translate}}</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">{{'Account' | translate}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/account" ng-show="$root.isLogin()">{{'Account - Page' | translate}}</a></li>
                        <li><a href="/account/favorites" ng-show="$root.isLogin()">{{'Favorites - Page'| translate}}</a></li>
                        <li><a href="/account/history" ng-show="$root.isLogin()">{{'History - Page'| translate}}</a></li>
                        <li><a href="/account/message" ng-show="$root.isLogin()">{{'Message - Page'| translate}}</a></li>

                        <li class="divider" ng-show="$root.isLogin() && $root.isAdmin()"></li>
                        <li><a href="/admin" ng-show="$root.isLogin() && $root.isAdmin()">{{'Admin - Page'| translate}}</a></li>

                        <li class="divider" ng-show="$root.isLogin()"></li>
                        <li><a href="/account/password" ng-show="$root.isLogin()">{{'Password - Page' | translate}}</a></li>
                        <li ng-show="$root.isLogin()"><a user-logout href="/home">{{'Logout' | translate}}</a></li>
                        <li ng-show="!$root.isLogin()"><a href="/login">{{'Login' | translate}}</a></li>
                        <li ng-show="!$root.isLogin()"><a href="/register">{{'Register' | translate}}</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="clearfix"></div>