@charset "UTF-8";

.account-register{

  div[class^=col-xs-]{
    margin-bottom: 10px;
  }
  
  form{
    input[type=text],input[type=password],input[type=email]{
      width: 200px;
    }
    button{
      &.btn{
        width: 150px;
      }
    }
  }

}