@charset "UTF-8";


.account{

  div[class^=col-xs-]{
    margin-bottom: 10px;
  }
  .head-title{
    border-bottom: 1px solid $border-color;
    margin-bottom: 20px;
  }

  .menu{
     li{
       &.active{
         font-weight: bold;
       }
     }
  }
}