<div class="admin-categories-module">
    <div class="col-xs-10">
        <div class="form-header">
            <h3 class="modal-title" ng-show="!update">{{'Create category' | translate}}</h3>
            <h3 class="modal-title" ng-show="update">{{'Update category' | translate}}</h3>
        </div>
        <div class="form-body">
            <alert ng-repeat="alert in errors" type="{{alert.type}}" close="$root.closeErrors($index)">{{alert.msg}}</alert>

            <form name="categories" ng-submit="save(categories.$valid)">
                <div class="col-xs-4">
                    {{'Name' | translate}}
                </div>
                <div class="col-xs-6">
                    <input type="text" ng-model="data.name" class="form-control" />
                </div>
                <div class="clearfix"></div>


                <div class="col-xs-4">
                    {{'Url' | translate }}
                </div>
                <div class="col-xs-6">
                    <input type="text" ng-model="data.url" class="form-control" />
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-4" ng-hide="data.main == true">
                    {{'Sub category' | translate}}
                </div>
                <div class="col-xs-6" ng-hide="data.main == true">
                    <select ng-model="parent" ng-change="data.url = parent" class="form-control">
                        <option value="">{{'Select' | translate}}</option>
                        <option value="{{item.url}}" ng-repeat="item in list" ng-selected="selectItem(item.url) == true">{{item.name}}</option>
                    </select>
                </div>
                <div class="clearfix" ng-hide="data.main == true"></div>

                <div class="col-xs-4">
                    {{'Main category' | translate }}
                </div>
                <div class="col-xs-6">
                    <input type="checkbox" ng-checked="data.main" ng-model="data.main" ng-click="data.url =''">
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-4">
                    {{'Keyword' | translate }}
                </div>
                <div class="col-xs-6">
                    <input ng-model="data.keyword" type="text"  class="form-control" />
                </div>
                <div class="clearfix"></div>


                <div class="col-xs-4">
                    {{'Description' | translate }}
                </div>
                <div class="col-xs-6">
                    <textarea ng-model="data.description"  class="form-control"></textarea>
                </div>
                <div class="clearfix"></div>


                <div class="col-xs-4"></div>
                <div class="col-xs-6">
                    <button type="submit" class="btn btn-default"><i class="fa fa-pencil"></i> {{'Save' | translate }}</button>
                </div>
                <div class="clearfix"></div>

            </form>
        </div>
    </div><!-- .col-xs-10 -->
</div> <!-- .admin-categoriew-module

