<div class="admin-categories-module">

    <div class="col-xs-12 create-link">
        <div class="pull-right">
            <a href="/admin/categories/create"><i class="fa fa-pencil"></i> {{'Create categories' | translate}}</a>
        </div>
    </div>
    <div class="clearfix"></div>


    <div ng-repeat="item in list">
        <div class="list col-xs-12">
            <div class="col-xs-9">
                <div class="col-xs-7">
                    <sapn>{{ $index + 1}}</sapn>
                    <span class="title">{{ item.name }}</span>
                </div>
                <div class="col-xs-5">
                    <span class="url">{{ item.url }}</span>
                </div>
            </div>
            <div class="col-xs-3  link text-right">
                <a href="/admin/categories/update/{{item._id}}"><i class="fa fa-pencil"></i> {{'Update' | translate}}</a>
                <a href="/admin/categories/sub{{item.url}}"  ng-show="page == null"><i class="fa fa-folder-open"></i> {{'Sub category' | translate}}</a>
                <a ng-click="delete(item)"><i class="fa fa-trash-o"></i> {{'Delete' | translate}}</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

</div> <!-- admin-category -->

<div class="clearfix"></div>